// html, body {
//     margin: 0;
//     padding: 0;
//     height: 100%;
//     -ms-overflow-style: none;
//     scrollbar-width: none; 
// }

html::-webkit-scrollbar, body::-webkit-scrollbar {
    display: none;
}

.main-container {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    -ms-overflow-style: none;
    scrollbar-width: none; 
}

.main-container::-webkit-scrollbar {
    display: none;
}


.section-wrapper {
    padding: 15px;
    background-color: #f0f0f0;
    border-radius: 5px;
    margin-bottom: 10px;
}

.input-wrapper {
    padding: 10px 0;
    margin-bottom: 5px;
}

.event-binding-wrapper {
    padding: 10px 0;
    margin-bottom: 10px;
}

.table-container {
    flex: 1;
    max-height: 30vh;
    overflow-y: auto;
    margin-bottom: 10px;
    -ms-overflow-style: none; 
}

.table-container::-webkit-scrollbar {
    display: none;
}

:host ::ng-deep .wj-flex-grid {
    height: 100% !important;
    width: 100% !important;
}

// .table-container table {
//     width: 100%;
// }

.table-container button {
    margin: 5px 0;
}

.icon-btn {
    background-color: rgb(100, 100, 250);
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin: 5px;
    font-size: 14px;
    transition: background-color 0.3s;
    width: 50px !important;
}

.icon-btn:hover {
    background-color: rgb(12, 12, 158);
}

button.custom-btn {
    background-color: rgb(72, 250, 72);
}

button.custom-btn:hover {
    background-color: rgb(6, 216, 6);
}

.button-container {
    text-align: right;
    padding: 10px 0;
}

button {
    padding: 10px 20px;
    background-color: #ff4444;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s;
    margin: 5px;
    width: 150px;
    
}

button:hover {
    background-color: #cc0000;
}

section {
    padding: 15px;
    background-color: #f0f0f0;
    border-radius: 5px;
    margin-bottom: 20px;
}

h1 {
    color: #333;
    font-size: 24px;
}

h3 {
    color: #555;
    margin: 10px 0;
}

input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 200px;
}

input:focus {
    outline: none;
    border-color: #4CAF50;
    box-shadow: 0 0 5px rgba(76, 175, 80, 0.3);
}

:host ::ng-deep .wj-cells .wj-cell.wj-state-selected {
    background-color: #ffeb3b !important; 
    font-weight: bold ;
    color: black ;
}


:host ::ng-deep .wj-cells .wj-cell.mouse-over:not(.wj-state-selected),
:host ::ng-deep .wj-cells .wj-alt.wj-cell.mouse-over:not(.wj-state-selected) {
    background-color: rgb(249, 161, 249);
    color: black;
}

:host ::ng-deep .wj-cells .wj-cell.mouse-move:not(.wj-state-selected),
:host ::ng-deep .wj-cells .wj-alt.wj-cell.mouse-move:not(.wj-state-selected) {
    background-color: rgb(184, 119, 249);
    color: black;
}

:host ::ng-deep .wj-cells .wj-cell.mouse-out:not(.wj-state-selected),
:host ::ng-deep .wj-cells .wj-alt.wj-cell.mouse-out:not(.wj-state-selected) {
    background-color: rgb(177, 245, 74);
    color: black;
}

:host ::ng-deep .wj-cells .wj-cell.double-click:not(.wj-state-selected),
:host ::ng-deep .wj-cells .wj-alt.wj-cell.double-click:not(.wj-state-selected) {
    background-color: rgb(1, 248, 1);
    color: black;
}

:host ::ng-deep .wj-cells .wj-cell.right-click:not(.wj-state-selected),
:host ::ng-deep .wj-cells .wj-alt.wj-cell.right-click:not(.wj-state-selected) {
    background-color: rgb(247, 221, 75);
    color: black;
}

:host ::ng-deep .wj-cells .wj-cell.input-change:not(.wj-state-selected),
:host ::ng-deep .wj-cells .wj-alt.wj-cell.input-change:not(.wj-state-selected) {
    background-color: rgb(255, 201, 63);
    color: black;
}

:host ::ng-deep .wj-cells .wj-cell.key-down:not(.wj-state-selected),
:host ::ng-deep .wj-cells .wj-alt.wj-cell.key-down:not(.wj-state-selected) {
    background-color: rgb(251, 173, 71);
    color: black;
}

:host ::ng-deep .wj-cells .wj-cell.key-press:not(.wj-state-selected),
:host ::ng-deep .wj-cells .wj-alt.wj-cell.key-press:not(.wj-state-selected) {
    background-color: rgb(243, 106, 106);
    color: black;
}

:host ::ng-deep .wj-cells .wj-cell.key-up:not(.wj-state-selected),
:host ::ng-deep .wj-cells .wj-alt.wj-cell.key-up:not(.wj-state-selected) {
    background-color: rgb(177, 99, 250);
    color: black;
}

:host ::ng-deep .wj-cells .wj-cell.button-click:not(.wj-state-selected),
:host ::ng-deep .wj-cells .wj-alt.wj-cell.button-click:not(.wj-state-selected) {
    background-color: rgb(140, 140, 244);
    color: black;
}

:host ::ng-deep .wj-cells .wj-cell.custom-button:not(.wj-state-selected),
:host ::ng-deep .wj-cells .wj-alt.wj-cell.custom-button:not(.wj-state-selected) {
    background-color: rgb(209, 105, 105);
    color: black;
}


:host ::ng-deep .wj-cells .wj-cell.wj-state-multi-selected {
    background-color: #4caf50 !important;
    color: white !important;
}
