body{
    overflow: hidden;
    margin: 0;
}

.main-container {
    height: 700px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.table-container {
    flex: 1;
    overflow-y: auto;
    position: relative;
    display: block;
    margin-bottom: 10px;
}

:host ::ng-deep .wj-flex-grid {
    height: 100% !important;
    width: 100% !important;
}

.table-container table {
    width: 100%;
    border-collapse: collapse;
}

.table-container button {
    margin: 5px 0;
}

.icon-btn {
    background-color: rgb(100, 100, 250);
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin: 5px;
    font-size: 14px;
    transition: background-color 0.3s;
    width: 50px !important;
}

.icon-btn:hover {
    background-color: rgb(12, 12, 158);
}

button.custom-btn {
    background-color: rgb(72, 250, 72);
}

button.custom-btn:hover {
    background-color: rgb(6, 216, 6);
}

.button-container {
    text-align: right;
    padding: 10px 0;
}

button {
    padding: 10px 20px;
    background-color: #ff4444;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s;
    margin: 5px;
    width: 150px;
    
}

button:hover {
    background-color: #cc0000;
}

section {
    padding: 15px;
    background-color: #f0f0f0;
    border-radius: 5px;
    margin-bottom: 20px;
}

h1 {
    color: #333;
    font-size: 24px;
}

h3 {
    color: #555;
    margin: 10px 0;
}

input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 200px;
}

input:focus {
    outline: none;
    border-color: #4CAF50;
    box-shadow: 0 0 5px rgba(76, 175, 80, 0.3);
}

:host ::ng-deep .wj-cells .wj-cell.wj-state-selected {
    background-color: #ffeb3b !important; 
    font-weight: bold ;
    color: black ;
}

:host ::ng-deep .wj-cells .wj-cell.event-type:not(.wj-state-selected),
:host ::ng-deep .wj-cells .wj-cell.wj-alt.event-type:not(.wj-state-selected) {
    background-color: rgb(249, 161, 249) !important; 
    color: black ; 
    font-weight: bold ;
}

:host ::ng-deep .wj-cells .wj-cell.wj-state-multi-selected {
    background-color: #4caf50 !important;
    color: white !important;
}

