<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
    <div class="panel panel-primary">
        <div class="panel-body">
        <form  [formGroup]="myform" (ngSubmit) = "onSubmit(myform.value)">
            <div class="grid-container">
                <div class="item56"><label >Thông tin chung</label></div>
                <div class="item1"><label>Mã</label></div>
                <div class="item2">
                    <input type="text" class="form-control" name="datacode" formControlName="datacode" [ngClass]="{'red-border': datacode.invalid && (datacode.dirty || datacode.touched), 'black-border': !datacode.invalid}"/>
                    <div *ngIf="datacode.invalid && (datacode.dirty || datacode.touched)" class="alert alert-danger" role="alert">
                        <div *ngFor="let error of errorMessages.datacode">
                            <div *ngIf="datacode.hasError(error.type)">{{ error.message }}</div>
                        </div>
                    </div>
                </div>
                <div class="item3"><label for="exampleSelect1">Nhóm mẹ</label></div>
                <div class="item4">
                    <select class="form-control"  name="group" formControlName="group">
                        <option value="">select</option>
                        <option value="customer">Khách hàng</option>
                        <option value="admin">Admin</option>
                    </select>
                    
                </div>
                <div class="item5"><label>Tên</label></div>
                <div class="item6">
                    <input type="text" class="form-control" name="uName" formControlName="uName" [ngClass]="{'red-border': uName.invalid && (uName.dirty || uName.touched), 'black-border': !uName.invalid}"/>
                    <div *ngIf="uName.invalid && (uName.dirty || uName.touched)" class="alert alert-danger" role="alert">
                      <div *ngFor="let error of errorMessages.uName">
                        <div *ngIf="uName.hasError(error.type)">{{ error.message }}</div>
                      </div>
                    </div>
                  </div>                  
                <div class="item7"><label>Họ</label></div>
                <div class="item8">
                    <input type="text" class="form-control" name="lastName" formControlName="lastName" [ngClass]="{'red-border': lastName.invalid && (lastName.dirty || lastName.touched), 'black-border': !lastName.invalid}"/>
                    <div *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)" class="alert alert-danger" role="alert">
                        <div *ngFor="let error of errorMessages.lastName">
                            <div *ngIf="lastName.hasError(error.type)">{{ error.message }}</div>
                        </div>
                    </div>
                </div>
                <div class="item9"><label for="exampleSelect1">Loại đối tượng</label></div>
                <div class="item10">
                    <select class="form-control"  name="object" formControlName="object">
                        <option value="">select</option>
                        <option value="customer">Cá nhân</option>
                        <option value="admin">Tổ chức</option>
                    </select>
                    
                </div>
                <div class="item11"><input type="checkbox" class="form-check-input" name="optionChecked" formControlName="optionChecked"></div>
                <div class="item12"><label class="form-check-label">Là khách hàng</label></div>
                <div class="item13"><label>Mã số thuế</label></div>
                <div class="item14">
                    <input type="text" class="form-control" name="datacode2" formControlName="datacode2" />
                    
                </div>
                <div class="item15">
                    <label >Tên viết tắt</label>
                </div>
                <div class="item16">
                    <input type="password" class="form-control" name="middlename" formControlName="middlename"/>
                   
                </div>
                <div class="item17"><label>Địa chỉ liên hệ</label></div>
                <div class="item18">
                    <input type="text" class="form-control" name="uphonenumber" formControlName="uphonenumber" />
                </div>
                <div class="item19"><label>Địa chỉ trên hóa đơn</label></div>
                <div class="item20">
                    <input type="text" class="form-control" name="address" formControlName="address"/>
                </div>
                <div class="item21"><label>Đại diện pháp luật</label></div>
                <div class="item22">
                    <input type="text" class="form-control" name="legal" formControlName="legal"/>
                    
                </div>
                <div class="item23"><label>Chức vụ đại diện</label></div>
                <div class="item24">
                    <input type="text" class="form-control" name="position" formControlName="position"/>
                    
                </div>
                <div class="item25"><label>Đối tác liên hệ</label></div>
                <div class="item26">
                    <input type="text" class="form-control" name="guest" formControlName="guest" />
                </div>
                <div class="item27"><label>Số điện thoại đối tác</label></div>
                <div class="item28">
                    <input type="text" class="form-control" name="gphonenumber" formControlName="gphonenumber" />
                </div>
                <div class="item29"><label>Quốc gia</label></div>
                <div class="item30">
                    <input type="text" class="form-control" name="country" formControlName="country"/>
                    
                </div>
                <div class="item53"><label>Số file khách hàng</label></div>
                <div class="item54">
                    <input type="text" class="form-control" name="optionsRadios" formControlName="optionsRadios"/>
                    
                </div>
                <div class="item31"><label>Fax</label></div>
                <div class="item32">
                    <input type="text" class="form-control" name="fax" formControlName="fax"/>
                    
                </div>
                <div class="item33"><label>Đơn vị cơ sở</label></div>
                <div class="item34">
                    <input type="text" class="form-control" name="unit" formControlName="unit"/>
                    
                </div>
                <div class="item57"><label>Thông tin chi tiết</label></div>
                <div class="item35"><label for="exampleSelect1">Ngành hàng</label></div>
                <div class="item36">
                    <select class="form-control"  name="objective" formControlName="objective">
                        <option value="">select</option>
                        <option value="electric">Điện tử</option>
                        <option value="farm">Nông sản</option>
                        <option value="fasion">Thời trang</option>
                        <option value="furniture">Nội thất</option>
                        <option value="shopee">Shopee</option>
                    </select>
                    
                </div>
                <div class="item37"><label for="exampleSelect1">Kênh bán hàng</label></div>
                <div class="item38">
                    <select class="form-control"  name="stream" formControlName="stream">
                        <option value="">select</option>
                        <option value="shopee">shopee</option>
                        <option value="lazada">lazada</option>
                        <option value="tiki">tiki</option>
                        <option value="furniture">Nội thất</option>
                    </select>
                   
                </div>
                <div class="item39"><label for="exampleSelect1">Vùng</label></div>
                <div class="item40">
                    <select class="form-control"  name="region" formControlName="region">
                        <option value="">select</option>
                        <option value="North">Bắc bộ</option>
                        <option value="Central">Trung bộ</option>
                        <option value="South">Nam bộ</option>
                    </select>
                    
                </div>
                <div class="item41"><label for="exampleSelect1">Tiền tệ phí BL</label></div>
                <div class="item42">
                    <select class="form-control"  name="money" formControlName="money">
                        <option value="">select</option>
                        <option value="North">VND</option>
                        <option value="Central">Đô la</option>
                        <option value="South">Euro</option>
                    </select>
                    
                </div>
                <div class="item43"><label>Điện thoại</label></div>
                <div class="item44">
                    <input type="text" class="form-control" name="yourphonenumber" formControlName="yourphonenumber" [ngClass]="{'red-border': yourphonenumber.invalid && (yourphonenumber.dirty || yourphonenumber.touched), 'black-border': !yourphonenumber.invalid}"/>
                    <div *ngIf="yourphonenumber.invalid && (yourphonenumber.dirty || yourphonenumber.touched)" class="alert alert-danger" role="alert">
                        <div *ngFor="let error of errorMessages.yourphonenumber">
                            <div *ngIf="yourphonenumber.hasError(error.type)">{{ error.message }}</div>
                        </div>
                    </div>
                </div>
                <div class="item45"><label >E-mail</label></div>
                <div class="item46">
                    <input type="email" class="form-control" name="eMail" formControlName="eMail" [ngClass]="{'red-border': eMail.invalid && (eMail.dirty || eMail.touched), 'black-border': !eMail.invalid}"/>
                    <div *ngIf="eMail.invalid && (eMail.dirty || eMail.touched)" class="alert alert-danger" role="alert">
                        <div *ngFor="let error of errorMessages.eMail">
                            <div *ngIf="eMail.hasError(error.type)">{{ error.message }}</div>
                        </div>
                    </div>
                </div>
                <div class="item47"><label >Số CMT/CCCD</label></div>
                <div class="item48">
                    <input type="soCMT" class="form-control" name="soCMT" formControlName="soCMT" [ngClass]="{'red-border': soCMT.invalid && (soCMT.dirty || soCMT.touched), 'black-border': !soCMT.invalid}"/>
                    <div *ngIf="soCMT.invalid && (soCMT.dirty || soCMT.touched)" class="alert alert-danger" role="alert">
                        <div *ngFor="let error of errorMessages.soCMT">
                            <div *ngIf="soCMT.hasError(error.type)">{{ error.message }}</div>
                        </div>
                    </div>
                </div>
                <div class="item49"><label>Ngày cấp</label></div>
                <div class="item50">
                    <input type="date" class="form-control" name="dIssue" formControlName="dIssue" [ngClass]="{'red-border': dIssue.invalid && (dIssue.dirty || dIssue.touched), 'black-border': !dIssue.invalid}"/>
                    <div *ngIf="dIssue.invalid && (dIssue.dirty || dIssue.touched)" class="alert alert-danger" role="alert">
                        <div *ngFor="let error of errorMessages.dIssue">
                            <div *ngIf="dIssue.hasError(error.type)">{{ error.message }}</div>
                        </div>
                    </div>
                </div>
                <div class="item51"><label>Nơi cấp</label></div>
                <div class="item52">
                    <input type="text" class="form-control" name="pIssue" formControlName="pIssue"/>
                </div>
                <div class="item58"><label>Theo dõi công nợ chi tiết</label></div>
                <div class="item59"><label>Theo hạn nợ</label></div>
                <div class="item60">
                    <input type="checkbox" class="form-check-input" name="checkbox" formControlName="checkbox">
                </div>
                <div class="item61"><label>Chi tiết theo hợp đồng</label></div>
                <div class="item62"><input type="checkbox" class="form-check-input" name="checkbox2" formControlName="checkbox2"></div>
                <div class="item63"><label>Theo kỳ</label></div>
                <div class="item64">
                    <input type="text" class="form-control" name="Theoky" formControlName="Theoky"/>
                    
                </div>
                <div class="item65"><label>Theo hạn</label></div>
                <div class="item66">
                    <input type="text" class="form-control" name="ngay" formControlName="ngay"/>
                    
                </div>
                <div class="item55">
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </div>
            </div>
        </form>

        <div><p></p></div>
        <div><p></p></div>
        <div><p></p></div>
    </div>
</div>
</div>
    
    