<wj-flex-grid [itemsSource]="data" [isReadOnly]="true" [selectionMode]="'Row'" style="height: 800px; width: 5000px;">

    <!-- Định nghĩa cột -->
    <wj-flex-grid-column [header]="'Mã'" [binding]="'datacode'" [cssClass]="'code'" [width]="'3*'"></wj-flex-grid-column>
    <wj-flex-grid-column [header]="'Nhóm mẹ'" [binding]="'group'" [width]="'3*'"></wj-flex-grid-column>
    <wj-flex-grid-column [header]="'Tên'" [binding]="'uName'" [cssClass]="'name'" [width]="'2.5*'"></wj-flex-grid-column>
    <wj-flex-grid-column [header]="'Họ'" [binding]="'lastName'" [cssClass]="'lastname'" [width]="'2.5*'"></wj-flex-grid-column>
    <wj-flex-grid-column [header]="'Loại đối tượng'" [binding]="'object'" [width]="'3*'"></wj-flex-grid-column>
    <wj-flex-grid-column [header]="'Là khách hàng'" [binding]="'optionChecked'" [width]="'3*'"></wj-flex-grid-column>
    <wj-flex-grid-column [header]="'Mã số thuế'" [binding]="'datacode2'" [width]="'3*'"></wj-flex-grid-column>
    <wj-flex-grid-column [header]="'Tên viết tắt'" [binding]="'middlename'" [width]="'3*'"></wj-flex-grid-column>
    <wj-flex-grid-column [header]="'Địa chỉ liên hệ'" [binding]="'uphonenumber'" [width]="'4*'"></wj-flex-grid-column>
    <wj-flex-grid-column [header]="'Địa chỉ trên hóa đơn'" [binding]="'address'" [width]="'4*'"></wj-flex-grid-column>
    <wj-flex-grid-column [header]="'Đại diện pháp luật'" [binding]="'legal'" [width]="'4*'"></wj-flex-grid-column>
    <wj-flex-grid-column [header]="'Đối tác liên hệ'" [binding]="'guest'" [width]="'4*'"></wj-flex-grid-column>
    <wj-flex-grid-column [header]="'Số điện thoại đối tác'" [binding]="'gphonenumber'" [width]="'3*'"></wj-flex-grid-column>
    <wj-flex-grid-column [header]="'Quốc gia'" [binding]="'country'" [width]="'2*'"></wj-flex-grid-column>
    <wj-flex-grid-column [header]="'Số file khách hàng'" [binding]="'optionsRadios'" [width]="'2.5*'"></wj-flex-grid-column>
    <wj-flex-grid-column [header]="'Fax'" [binding]="'fax'" [width]="'3*'"></wj-flex-grid-column>
    <wj-flex-grid-column [header]="'Đơn vị cơ sở'" [binding]="'unit'" [width]="'3*'"></wj-flex-grid-column>
    <wj-flex-grid-column [header]="'Ngành hàng'" [binding]="'objective'" [width]="'3*'"></wj-flex-grid-column>
    <wj-flex-grid-column [header]="'Kênh bán hàng'" [binding]="'stream'" [width]="'3*'"></wj-flex-grid-column>
    <wj-flex-grid-column [header]="'Vùng'" [binding]="'region'" [width]="'2*'"></wj-flex-grid-column>
    <wj-flex-grid-column [header]="'Tiền tệ phí BL'" [binding]="'money'" [width]="'2.5*'"></wj-flex-grid-column>
    <wj-flex-grid-column [header]="'Điện thoại'" [binding]="'yourphonenumber'" [cssClass]="'phone'" [width]="'3*'"></wj-flex-grid-column>
    <wj-flex-grid-column [header]="'E-mail'" [binding]="'eMail'" [cssClass]="'Email'" [width]="'3.5*'"></wj-flex-grid-column>
    <wj-flex-grid-column [header]="'Số CMT/CCCD'" [binding]="'soCMT'" [cssClass]="'CMT'" [width]="'3*'"></wj-flex-grid-column>
    <wj-flex-grid-column [header]="'Ngày cấp'" [binding]="'dIssue'" [cssClass]="'dIssue'" [width]="'2.5*'"></wj-flex-grid-column>
    <wj-flex-grid-column [header]="'Nơi cấp'" [binding]="'pIssue'" [cssClass]="'pIssue'" [width]="'2.5*'"></wj-flex-grid-column>
    <wj-flex-grid-column [header]="'Theo hạn nợ'" [binding]="'checkbox'" [width]="'2*'"></wj-flex-grid-column>
    <wj-flex-grid-column [header]="'Chi tiết theo hợp đồng'" [binding]="'checkbox2'" [width]="'3.5*'"></wj-flex-grid-column>
    <wj-flex-grid-column [header]="'Theo kì'" [binding]="'Theoky'" [width]="'2*'"></wj-flex-grid-column>
    <wj-flex-grid-column [header]="'Theo hạn'" [binding]="'ngay'" [width]="'2*'"></wj-flex-grid-column>
  
  </wj-flex-grid>

  <button class="btn btn-danger" (click)="resetData()">Reset Dữ Liệu</button>
  <button class="btn btn-secondary" (click)="goBack()">Quay Lại</button>